<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
    <script>(function(w, d) { w.CollectId = "642c37c42f45336a321646e2"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
    <title>BASS</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            <h1>BASS</h1>
            <p class="lead"><sub>Let the child earn KNOWLEDGE not MONEY</sub></p>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="../views/home.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="../views/index.html">COMPLAINT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="../views/nodalreg.html">NODAL</a>
                    </li> 

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle " href="/login" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            LOGIN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item " href="../views/penciladminui.html">ADMIN</a></li>
                            <li><a class="dropdown-item " href="../pay/index.html">DONATE</a></li>
                            <!-- <li><a class="dropdown-item " href="../views/aadharui.html">E-AADHAR</a></li>
                            <li><a class="dropdown-item " href="../views/bankui.html">BANK</a></li> -->
                            <!-- <li><a class="dropdown-item " href="../views/educationui.html">EDUCATION</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="../views/nclbreg.html">SSA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="../views/aboutus.html">SCHEME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="../views/donate.html">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="../views/student.html">FEEDBACK</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">

        

        <!-- ################################ REGISTER FORM ##################################-->

        
            
            <div class="intro">
                <!-- <h1 align="center">BASS</h1> -->
                <img src="../public/comp_image/ba.jpeg" alt="">

            </div>

            <div class="main">
            <!-- <div class="jumbotron">
                <h1  align="centre" class="display-4"><b></b></h1> -->
                
                <!-- <hr class="my-4">
                <p>Use this website to clear your problems around you </p> -->
    
            <!-- </div>  -->
    
            
            <h1 align="center">WELCOME TO BASS</h1>
    <hr class="new">



    <div class="section one" id="section1">
      <h3>SUPPORT OUR CASE</h3>
      <p>
      <ul>
        <li>Bringing drop-out children back to school</li>
        <li>Providing smart phones and tablets to under-privileged children to ensure uninterrupted learning</li>
        <li>Providing stationary,uniform and necessary support to under-privileged children</li>
        <li>Ensuring mental well-being -Helpline services and one on one monitoring sessions for children to keep them
          engaged</li>
        <li>Regular counselling of parents to ensure the child's participation in school</li>
        <li>Teacher training-to train them for the dynamic digital learning environment</li>
      </ul>
      </p><br>
      <h3>LEARN FACTS</h3>
      <p>
      <ul>
        <li>The Pandemic has put millions of people out of work,the domestic environment has suffered and children are
          deeply affected.</li>
        <li>Over 24 Million children*(UN Data) globally are at the risk of dropping out of school.</li>
        <li>In India,5.3% of rural children aged 6-10 years did not enroll in school in 2020(ASER 2020).</li>
        <li>Smart phone based learning through online engagement,accessibility to digital modes and internet
          connectivity is a major challenge.</li>
        <li>With frequent lockdowns,learning outcomes of children have been affected learning has a bearing on cognitive
          development.</li>
      </ul>
      </p>
    </div>
    <div class="achievements">
        <div class="work">

            <p class="work-heading"><h3><b>PROJECTS</b></h3></p>
            <p class="work-text">About 1010 complaints of child labour received on PENCIL portal, District Nodal
                Officers have updated status in respect of 361 complaints as resolved.</p>
        </div>
        <div class="work">

            <p class="work-heading"><h3><b>COMPONENTS</b></h3></p>
            <p class="work-text"> Child Tracking System, Complaint Corner, State Government, SSA and
                Convergence.</p>
        </div>
        <div class="work">

            <p class="work-heading"><h3><b>ACTS</b></h3></p>
            <p class="work-text">The Child Labour (Prohibition and Regulation) Amendment Act, Child Labour
                (Prohibition and Regulation) Act, Child Labour Rules. </p>
        </div>
    </div>

            <!-- <div class="about-me">
                <div class="about-me-text">
                    <font color="violet">
                        <h3>About Me</h3>
                    </font>
                    <hr>
                    <h6>An online portal has been launched for the better monitoring and reporting system to ensure
                        effective implementation of the provision of the amended child labour act and SSA scheme.
                        PENCIL portal is a platform for Effective Enforcement for NO Child Labour that is to eliminate
                        child labour, which was launched by Union Home Ministry.
                    </h6>
                </div>
            </div> -->
        <!-- </main> -->
            </div>
            
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>